<!-- <div>

    <span>Test</span>



</div>
<div>
    <table>
        <thead>
            <td>Id</td>
            <td>Contenu</td>
            <td>Date Diffusion</td>
        </thead>
        <tbody>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </tbody>
    </table>


</div> -->
<div class="container-annonce">
  <nav class="navbar">
    <div class="nav-container">
      <div class="logo">
        <img src="/assets/images/logo.png" alt="Logo Picom" />
      </div>
      <div class="logout" (click)="logout()">Déconnexion</div>
    </div>
  </nav>
  <app-list-annonce></app-list-annonce>
</div>
