.container-annonce{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.nav-container {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  width: 250px;
  cursor: pointer;
}

.logout {
  font-size: 18px;
  cursor: pointer;
  transition: .2s ease-out;
}

.logout:hover, .admin:hover {
  transform: scale(1.1);
}
.right {
  display: flex;
}

.admin {
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: .2s ease-out;
}

.main{
  width: 100%;
  height: 100%;
}
