<div class="container-list-annonce">
  <div class="box">
    <div class="list-an-title">{{'Annonce'|translate}} {{ utilisateur }}</div>
    <div class="table">
      
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let ann">{{ ann.id }}</td>
        </ng-container>
        <ng-container matColumnDef="contenu">
          <th mat-header-cell *matHeaderCellDef>{{'Contenu'|translate}}</th>
          <td mat-cell *matCellDef="let ann" class="contenu">
            <div [innerHTML]="ann.contenu" class="inner-contenu"></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="datediff">
          <th mat-header-cell *matHeaderCellDef class="date">{{'Date'|translate}}</th>
          <td mat-cell *matCellDef="let ann" class="date">
            {{ ann.dateHeureDebut | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">
            {{'AucuneAnnonce'|translate}}
          </td>
        </tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
    <div class="btn-group">
      <button mat-flat-button (click)="addAnnonce()">{{'AjoutAnnonce' | translate}}</button>
      <button mat-flat-button (click)="goToDiffusion()">{{'ListeDiffusion'|translate}}</button>
    </div>
  </div>
  <div class="img-illu">
    <img src="/assets/images/illu_list_annonce.svg" alt="Image d'illustration">
  </div>
</div>
