<div class="container-tarif">
    <div class="tarif-title">Annonce de utilisateur</div>
    <div class="table">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id de l'Annonce</th>
          <td mat-cell *matCellDef="let ann">{{ ann.id }}</td>
        </ng-container>
        <ng-container matColumnDef="contenu">
          <th mat-header-cell *matHeaderCellDef>Contenu</th>
          <td mat-cell *matCellDef="let ann">{{ ann.contenu }}</td>
        </ng-container>
        <ng-container matColumnDef="datediff">
          <th mat-header-cell *matHeaderCellDef>Date De Diffusion</th>
          <td mat-cell *matCellDef="let ann">{{ ann.dateHeureDebut }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    <button (click)="addAnnonce()">Ajout d'une annonce</button>
    <button (click)="goToDiffusion()">Ajout d'une diffusion.</button>
</div>
