<div class="container-tarif">
  <div class="tarif-title">{{'GestionTarif'|translate}} </div>
  <div class="table">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>{{'IdTarif'|translate}}</th>
        <td mat-cell *matCellDef="let tar">{{ tar.id }}</td>
      </ng-container>
      <ng-container matColumnDef="zone">
        <th mat-header-cell *matHeaderCellDef>{{'Zone'|translate}}</th>
        <td mat-cell *matCellDef="let tar">{{ tar.zone.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="trancheHoraire">
        <th mat-header-cell *matHeaderCellDef>{{'TrancheHoraire'|translate}}</th>
        <td mat-cell *matCellDef="let tar">{{ tar.trancheHoraire.debut }}</td>
      </ng-container>
      <ng-container matColumnDef="tarif">
        <th mat-header-cell *matHeaderCellDef>{{'Tarif'|translate}}</th>
        <td mat-cell *matCellDef="let tar">
          {{ tar.prixEnEuros | currency: "EUR" }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">
          {{'PasdeTarif'|translate}}
        </td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <form class="form-group" (submit)="saveTarif()">
    <div class="form-fields">
      <!-- <mat-form-field appearance="outline">
        <mat-label>Zone</mat-label>
        <mat-select
          [(ngModel)]="tarif.zone"
          [formControl]="zoneControl"
          required
        >
          <mat-option *ngFor="let zone of zones" [value]="zone.id">
            {{ zone.nom }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="zoneControl.hasError('required')"
          >Sélectionnez une zone</mat-error
        >
      </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-label>{{'TrancheHoraire'|translate}}</mat-label>
        <mat-select
          matNativeControl
          [(ngModel)]="tarif.trancheHoraire"
          [formControl]="trancheHControl"
        >
          <mat-option
            *ngFor="let trancheH of trancheHoraire"
            [value]="trancheH.id"
          >
            {{ trancheH.debut }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="trancheHControl.hasError('required')"
          >{{'ChoixTrancheH'|translate}}</mat-error
        >
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="field-item">
      <mat-label>{{'Tarif'|translate}}</mat-label>
      <input
        matInput
        placeholder="{{'Tarif'|translate}}"
        name="tarif"
        [(ngModel)]="tarif.prixEnEuros"
      />
      <mat-error *ngIf="tarifControl.hasError('required')"
        >{{'ChoixTrancheH'|translate}}</mat-error
      >
    </mat-form-field>
    <button mat-flat-button>{{'AjoutTarif'|translate}}</button>
  </form>
  <div class="img-illu">
    <img src="/assets/images/illu_tarif.svg" alt="Image d'illustration">
  </div>
</div>
