<div class="register-container">
  <form (ngSubmit)="register()">
    <div class="register-title">{{'Inscription'|translate}}</div>
    <div class="form-fields">
      <div class="form-block">
        <mat-form-field appearance="outline" class="field-item">
          <mat-label>{{'Nom'|translate}}</mat-label>
          <input matInput placeholder="{{'Nom'|translate}}" name="nom"
          [(ngModel)]="user.nom" [formControl]="nom" />
        <mat-error *ngIf="email.invalid">{{getErrorMessageNom()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="field-item">
          <mat-label>{{'Prenom'|translate}}</mat-label>
          <input matInput placeholder="{{'Prenom'|translate}}" name="prenom"
          [(ngModel)]="user.prenom" [formControl]="prenom"/>
          <mat-error *ngIf="email.invalid">{{getErrorMessagePrenom()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-block">
        <mat-form-field appearance="outline" class="field-item">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Email" name="email"
          [(ngModel)]="user.email" [formControl]="email"/>
          <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="field-item">
          <mat-label>{{'motDePasse'|translate}}</mat-label>
          <input type="password" matInput placeholder="{{'motDePasse'|translate}}" name="motDePasse"
          [(ngModel)]="user.motDePasse" [formControl]="motDePasse"/>
          <mat-error *ngIf="email.invalid">{{getErrorMessageMdp()}}</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="field-phone">
        <mat-label>{{'Tel'| translate}}</mat-label>
        <input type="tel" matInput placeholder="N° de téléphone" name="numeroDeTelephone"
        [(ngModel)]="user.numeroDeTelephone" [formControl]="numeroDeTel"/>
        <mat-error *ngIf="email.invalid">{{getErrorMessageNumero()}}</mat-error>
      </mat-form-field>
      <button mat-flat-button>{{'Inscrire'|translate}}</button>
    </div>
  </form>
  <div class="retour" (click)="retourEvent()">{{'Retour'|translate}}</div>
</div>
