/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Playfair+Display:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

:root {
  --bg: #f8f5f2;
  --main-color: #140d0b;
  --btn-color: #8c7851;
  --secondary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.mat-flat-button {
  background-color: var(--btn-color);
  border: solid 1px var(--main-color);
  padding: 5px;
  transition: .2s ease-in-out;
}

button:hover.mat-flat-button{

  background-color: var(--main-color);
}

button.mat-flat-button .mat-button-wrapper {
  color: var(--secondary-color);
  font-weight: 400;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--main-color);
}

.custom_snackbar span {
  color: #e78fb3!important;
}

.mat-horizontal-stepper-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #F25042;
}


.mat-typography p {
  margin: 0;
}


.no-data {
  text-align: center;
}
