<div class="create-annonce-container" *ngIf="!paiementPage">
  <div class="create-annonce-title">{{'AjoutAnnonce' | translate }}</div>
  <form class="form-create">
    <div class="wysiwyg">
      <div>{{'RedactionAnnonce'|translate}} :</div>
      <div class="error" *ngIf="errorEditor">{{'ContenuAnnonce'|translate }}</div>
      <editor [init]="{
        base_url: '/tinymce',
        suffix: '.min',
        height:250
      }" class="editor" (onSelectionChange)="onSelectionChange($event)"></editor>
    </div>
    <div class="error" *ngIf="error">{{'ChoixZoneHoraireDate' | translate }}</div>
    <mat-stepper [linear]="true" #stepper class="stepper">
      <mat-step label="{{'ChoixZone' | translate }}" class="step">
        <mat-form-field appearance="outline">
          <mat-label>{{'Zone' | translate}}</mat-label>
          <mat-select
            matNativeControl
            required
            [(ngModel)]="zonesSelected"
            [formControl]="zoneControl"
            multiple
          >
            <mat-option *ngFor="let zone of zones" [value]="zone.id">
              {{ zone.nom }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="zoneControl.hasError('required')"
            >{{'SelectZone' | translate }} </mat-error
          >
        </mat-form-field>
      </mat-step>
      <mat-step label="{{'ChoixHoraires' | translate }}">
        <mat-form-field appearance="outline">
          <mat-label>{{'TrancheHoraire' | translate}}</mat-label>
          <mat-select
            matNativeControl
            required
            [(ngModel)]="trancheHoraireSelected"
            [formControl]="trancheHControl"
            multiple
          >
            <mat-option
              *ngFor="let trancheH of trancheHoraire"
              [value]="trancheH.id"
            >
              {{ trancheH.debut }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="trancheHControl.hasError('required')"
            >{{'ChoixTrancheHoraire' | translate }}</mat-error
          >
        </mat-form-field>
      </mat-step>
      <mat-step label="{{'ChoixDate' | translate}} ">
        <mat-form-field appearance="outline">
          <mat-label>{{'ChoixDate' | translate}}</mat-label>
          <input matInput [matDatepicker]="picker" [min]="today" [(ngModel)]="dateSelected" [formControl]="dateControl" name="date" required/>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dateControl.hasError('required')">
            {{'SelectionDate' | translate }} 
         </mat-error>
        </mat-form-field>
      </mat-step>
    </mat-stepper>
      <button mat-flat-button (click)="goToPaiement()">
        {{'Paiement' | translate }} 
      </button>
  </form>
  <div class="img-illu">
    <img src="/assets/images/illu_crea.svg" alt="Image d'illustration">
  </div>
</div>
<app-paiement *ngIf="paiementPage" [annonce]="annonce"></app-paiement>
