<div class="create-annonce-container" *ngIf="!paiementPage">
  <div class="create-annonce-title">Ajout d'une annonce</div>
  <form class="form-create">
    <div class="wysiwyg">
      <div>Rédaction de l'annonce :</div>
      <div class="error" *ngIf="errorEditor">Veuillez remplir le contenu de l'annonce</div>
      <editor [init]="{
        base_url: '/tinymce',
        suffix: '.min',
        height:250
      }" class="editor" (onSelectionChange)="onSelectionChange($event)"></editor>
    </div>
    <div class="error" *ngIf="error">Veuillez sélectionner au moins une zone et une tranche horaire ainsi qu'une date</div>
    <mat-stepper [linear]="true" #stepper class="stepper">
      <mat-step label="Choisir des zones" class="step">
        <mat-form-field appearance="outline">
          <mat-label>Zone</mat-label>
          <mat-select
            matNativeControl
            required
            [(ngModel)]="zonesSelected"
            [formControl]="zoneControl"
            multiple
          >
            <mat-option *ngFor="let zone of zones" [value]="zone.id">
              {{ zone.nom }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="zoneControl.hasError('required')"
            >Selectionnez une/plusieurs zone(s)</mat-error
          >
        </mat-form-field>
      </mat-step>
      <mat-step label="Choisir des tranches horaires">
        <mat-form-field appearance="outline">
          <mat-label>Tranche Horaire</mat-label>
          <mat-select
            matNativeControl
            required
            [(ngModel)]="trancheHoraireSelected"
            [formControl]="trancheHControl"
            multiple
          >
            <mat-option
              *ngFor="let trancheH of trancheHoraire"
              [value]="trancheH.id"
            >
              {{ trancheH.debut }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="trancheHControl.hasError('required')"
            >Selectionnez une/plusieurs tranche(s) horaire(s)</mat-error
          >
        </mat-form-field>
      </mat-step>
      <mat-step label="Choisir la date">
        <mat-form-field appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" [min]="today" [(ngModel)]="dateSelected" [formControl]="dateControl" name="date" required/>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dateControl.hasError('required')">
            Sélectionnez une date
         </mat-error>
        </mat-form-field>
      </mat-step>
    </mat-stepper>
      <button mat-flat-button (click)="goToPaiement()">
        Continuez vers le paiement
      </button>
  </form>
  <div class="img-illu">
    <img src="/assets/images/illu_crea.svg" alt="Image d'illustration">
  </div>
</div>
<app-paiement *ngIf="paiementPage" [annonce]="annonce"></app-paiement>
